.flex {
    background-color: yellow;
    height: 500px;
    display: flex;
    flex-direction:row-reverse ;
    justify-content:center;
    align-items: center;
}

.contenido-1,
.contenido-2,
.contenido-3,
.contenido-4 {
    background-color: white;
    height: 100px;
    width: 100px;
    border: solid 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
}