.flex {
    background-color: yellow;
    height: 500px;
    display: flex;
    justify-content: center;
}

.contenido-1,
.contenido-2,
.contenido-3 {
    background-color: white;
    height: 100px;
    width: 100px;
    border: solid 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}